body {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    background: radial-gradient(
        circle, 
        #0077b6 0%, 
        #f2b5d4 100%);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 2px #121418;
    font-size: 40px;
}

#mozart-image {
    width: 200px;
    border-radius: 50%;
    border: 6px solid #68d8d6;
    margin-bottom: 10px;
}

/*
Challenge:
Make the bday elements look like the
provided design slide.
*/

#bday-age {
    background: #7b435b;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #7b435b;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}